<% layout('./layout/boilerplate')%>
    <div class="container-sm">
        <div class="row">
            <div class="col-8">
                <div class="container mb-4">
                    <h1>Campgrounds</h1>
                </div>
            </div>
            <div class="col-4">
                <a class="btn btn-primary btn-sm" href="/campgrounds/new">Add Campground</a>
            </div>
        </div>
        <% for (let campground of campgrounds) {%>
            <div class="card">
                <div class="row">
                    <% if (campground.img) { %>
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="<%=campground.img[0].url%>"">
                    </div>
                    <% } %>
                <div class=" col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=campground.title%>
                            </h5>
                            <h5 class="card-text">
                                <%=campground.description%>
                            </h5>
                        </div>
                        <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary btn-sm">View
                            <%=campground.title%>
                        </a>
                    </div>
                </div>
            </div>
            <% } %>
    </div>