<% layout('./layout/boilerplate')%>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css' rel='stylesheet' />
<div id="map" style="width: 100%; height: 350px"></div>
    <div class="container-sm">
        <div class="row">
            <div class="col-8">
                <div class="container mb-4">
                    <h1>Campgrounds</h1>
                </div>
            </div>
            <div class="col-4">
                <a class="btn btn-primary btn-sm" href="/campgrounds/new">Add Campground</a>
            </div>
        </div>
        <% for (let campground of campgrounds) {%>
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <% if (campground.img.url) { %>
                        <img class="img-fluid" alt="" src="<%=campground.img[0].url%>"">
                        <% } %>
                    </div>
                <div class=" col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=campground.title%>
                            </h5>
                            <h5 class="card-text">
                                <%=campground.description%>
                            </h5>
                        </div>
                        <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary btn-sm">View
                            <%=campground.title%>
                        </a>
                    </div>
                </div>
            </div>
            <% } %>
    </div>
    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN%>'
        const campgrounds = { features : <%- JSON.stringify(campgrounds)%> }
    </script>
    <script src="/javascripts/clusterMap.js"></script>